{% extends "layout.html.jinja" %}

{% block middle %}
    <h2 style="color: #5F9EA0;"> About me </h2>
    <p> My name is Dominika Pawelska. I am first year student of Applied Informatics at University of Econoics in Cracow. Chosing my path wasn't easy since I did not really know what I would like to do in my life.
    The person who inspired me to try this field was  </p>

{% endblock middle %}