{% extends "layout.html.jinja" %}

{% block middle %}
    <h2 style="color: #5F9EA0;"> About me </h2>
    <p style="font-size:20px"> My name is Dominika Pawelska. I am first year student of Applied Informatics at University of Econoics in Cracow. Chosing my path wasn't easy since I did not really know what I would like to do in my life.
    The person who inspired me to try this field was my brother. Before starting thinking about IT field as my possible future I studied biology and chemistry to become a doctor. Time passed and I have realized working with human body 
    is not neceserily something I would like to do.   </p>
    <br>
    <br>
    <h2 style="color: #5F9EA0;" > Hobbies </h2>
    <p style="font-size:20px">
    I am really passionate about outdoor activities. I love swimming and when I was a kid I've dreamed about going to Olimpic one day. Right now I treat it more as a hooby but 
    also I compate a little bit. I love hiking in the mountains and road biking. </p>

<br>
<br>
<h2 style="color: #5F9EA0;" > Contact </h2>
<p style="font-size:20px"> E-mail : domi.pawelska@gmail.com <br> Mobile: 727 300 333</p>

{% endblock middle %}