{% extends "layout.html.jinja" %}

{% block middle %}
    <h2  style="color: #5F9EA0;"> Welcome to the main page </h2>
    <br><br><br>
    
    <p style="font-size:20px">  we've created our page to make it easier to search for opinions of certain product you would like to purchase. You might use out extract page to enter Id of theproduct you are 
    intrested with. By entering the Products section you will see the list of the products already searched.
    </p>
{% endblock middle %}