{% extends "layout.html.jinja" %}

{% block middle %}
   {#<p> {{productId}} </p>#}
   {%for table in tables%}
        {{table|safe}}
    {%endfor%}

{% endblock middle %}
{%block script%}
    <script>
        $(document).ready( function() {
            $("#opinions").DataTable();
        });
        </script>
{%endblock script%}
        