{% extends "layout.html.jinja" %}

{% block middle %}
{% for product in form.opinions  %}
                <p>{{ product}}: {{product | length}} </p>
            {% endfor %}
    
{% endblock middle %}